<div class="container">
  <form name="form" [formGroup]="form">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Employee Code</th>
        <th>Employee Name</th>
        <th>Employee joiningDate</th>
        <th>Employee designation</th>
        <th>departmentList Code</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let employeeList of getListEmployee">

        <td>{{ employeeList.code }}</td>
        <td>{{ employeeList.name }}</td>
        <td>{{ employeeList.joiningDate }}</td>
        <td>{{ employeeList.designation }}</td>

        <td>
          <table class="table table-nostriped">
            <tr *ngFor="let departmentInfo of getEmployeeFromDepart">
              <td>{{ departmentInfo.departmentCodeIn }}</td>
            </tr>

          </table>
        </td>
        <td>
          <table class="table table-nostriped">
            <tr *ngFor="let departmentInfo of getEmployeeFromDepart">
              <td>

                <button (click)="editEmployeeList(departmentInfo.departmentCodeIn)" class="btn btn-outline-danger mt-1"
                        type="button">Edit
                </button>

              </td>
            </tr>

          </table>
        </td>
      </tr>

      </tbody>
    </table>
    <div class="form-group text-right">
      <button (click)="onPrint()" class="btn btn-primary mr-2">Print</button>
      <button  (click)="getAllEmployeeList()" class="btn btn-primary">Show All Employee</button>
    </div>

  </form>
</div>
